
* 
{
	margin: 0;
	padding: 0;
}

body 
{
	font-size: 62.5%;
	background: url(images/stripe.png) repeat;
    /* #372412 url(images/img01.gif) repeat-x;*/
}

p, li 
{
	font: 1.2em/1.8em Tahoma, sans-serif;
	margin-bottom: 10px;
}

h1 
{
	font: 2.0em Tahoma, sans-serif;
	color: white;
	height: 0px;
}

h2 
{
	font: 1.8em Tahoma, sans-serif;
	color: green;
	margin-bottom: 10px;
}

#store 
{
font-size:10em;
color: white;
text-shadow: 6px 6px #065207;

}
ul 
{
	margin-left: 25px;
}

img 
{
    border: none;
}

#page-wrap
{
    background: white;
    min-width: 780px;
    max-width: 1260px;
    margin: 10px auto;
}

#page-wrap #inside 
{
    margin: 10px 10px 0px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-content 
{
    background: url(images/l-sidebar.gif) repeat-y white;
    padding-left: 230px;
    padding-top: 20px;
}

#header 
{
    background: #267f23;
    text-align: center;
    margin-bottom:-10px;
}

#left-sidebar
{
    width: 150px;
    float: left;
    padding-left: 15px;
    padding-top: 20px;
    margin-right:0px;
}

#scroll 
{
    height:800px;
    overflow:auto;

}

#cart_order
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#cart_order td, #cart_order th 
{
    min-width:60px;
    font-size:1.2em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
    word-wrap:break-word;
}

#cart_order th 
{
    font-size:2.0em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#fff;
}

#cart_order tr.alt td 
{
    color:#000;
    background-color:#EAF2D3;
}

#cart_menu
{
    width:100%;
}

#cart_menu th 
{   
    font-size:2.0em;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#fff;
} 

#items
{
    color:white;
    position:relative;
    top:-30px;
    right:-35px;
}

#increase 
{
    display:inline;
    position:fixed;
    margin-bottom:-30px;
    margin-top:-4px;
    margin-left:10px;
}

#decrease
{
    position:relative;
    right:-40px;
    top:-18px;
    margin-bottom:-30px;
}   

#info
{
    position:fixed;
}


#order_id 
{
    font: 2.0em Tahoma, sans-serif;
    font-color:red;

}

#entry_box
{
    float:right;
    margin-top:-120px;
}

#slip
{
    left:85%;
    position:relative;
}

.item_box 
{
    width:90%;
    border-bottom-style:solid;

}


.item_box img 
{
    width:200px;
    height:200px;
    position:relative;
    margin-top:20px;
    box-shadow: 10px 10px 5px #888888;
    border:2px solid;
    border-radius:25px;
}


.item_box h2.title 
{
    position:relative;
    width:60%;
    top:-200px;
    left:220px;
    border-bottom:solid;
}

.item_box p.isbn 
{

}

.item_box p.price 
{
    position:relative;
    float:right;
    top:-20px;
}

#top_bar
{
    margin-top:-20px;
    margin-left:-16px;
    background: none;
}

.cart 
{
    position:relative;
    float:right;
    clear:both;
    top:-60px;
    right:30px;
}

.backl 
{
    -moz-user-select: text;
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 2.0em;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
}

.backauthor 
{
    -moz-user-select: text;
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    font-size:1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
}

.input 
{
    border: none;
}
.link 
{
    -moz-user-select: text;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
}


#student 
{
    padding:10px;
    border-bottom:2px solid gray;
    margin-bottom:10px;

}

#student input[type="submit"] 
{
    width:100%;
}

#student input[type="text"]
{
    font-family: Arial, san-serif;
    font-size:2.0em;
    width:100%;
}

#department 
{
    padding:10px;
    border-bottom:2px solid gray;
    margin-bottom:10px;

}   

#author 
{
    padding-bottom:10px;
    border-bottom:2px solid gray;
    margin:10px;
}   


.link:hover span 
{
    text-decoration: underline;
}

#footer 
{
    background: #267f23;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
